MINIAPP_VALIDATOR_PORT=3000
MINIAPP_BOT_NAME=***
MINIAPP_BOT_TOKEN=***
MINIAPP_CLIENT_ID=***
MINIAPP_CLIENT_HASH=***
DB_HOST=db
DB_USER=***
DB_PASSWORD=***
DB_NAME=***
TEST_MODE=true
TON_WALLET=***
TON_WALLET_PRIVATE_HEX=***
APP_URL=https://localhost
APP_CONTAINER=webserver:443